<div class="timeoff-container m-4">
  <header>
    <h1>Timeoff-Dashboard</h1>
  </header>
  <main>
    <ul id="employees">
      <li *ngFor="let employee of employees; trackBy: trackByUserId">
        <app-timeoff-employee
          (select)="onSelectUser($event)"
          [employee]="employee"
          [selected]="employee.id === selectedUserId"
        ></app-timeoff-employee>
      </li>
    </ul>

    <ng-container *ngIf="selectedUser; else noEmployee">
      <app-timeoff-employee-timeoffs
        [employeeId]="selectedUser.id"
        [name]="selectedUser.name"
      ></app-timeoff-employee-timeoffs>
    </ng-container>

    <ng-template #noEmployee>
      <p>Select an employee to see their timeoffs</p>
    </ng-template>
  </main>

</div>
