<div class="login-container">
  <header>
    <h1>Timeoff Login</h1>
    <p>Timeoff can help you manage </p>
  </header>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="email"
             placeholder="Enter Email" type="email">
      <div
        *ngIf="
          loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched
        "
        class="error-text"
      >
        <small *ngIf="loginForm.get('email')?.errors?.['required']">
          Email is required.
        </small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">
          Please enter a valid email.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" id="password" placeholder="Enter Password" type="password">
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="error-text"
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']">
          Password is required.
        </small>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">Log In</button>
    <div *ngIf="errorMsg" class="server-error error-text mt-2">
      {{ errorMsg }}
    </div>
  </form>
</div>
