<div class="spending-list-container m-4">

  <h1>Spending List</h1>
  <div class="inputs my-3">
    <input
      (ngModelChange)="filterSpendings($event)"
      [(ngModel)]="filterText"
      class="searchBar"
      placeholder="Search spendings..."
      type="text"
    />
    <input (click)="openDialog('Add')" class="btn btn-primary add-btn" type="button" value="Add Spending">
    <p-button (click)="showMySpendings()" *ngIf="loggedInEmployeeType != 'EM'"
              badge="{{ hideAllSpendings === false ? countAllSpendingsByEmployeeId : countAllSpendings }}"
              [styleClass]="hideAllSpendings ? 'my-toggle-btn' : 'showMySpendingsButton'" type="button">
      {{ hideAllSpendings ? 'Show All Spendings' : 'Show My Spendings ' }}
    </p-button>
    <p-button (click)="showPendingSpendings()" *ngIf="loggedInEmployeeType != 'EM' && hideAllSpendings === false"
              badge="{{ countPendingSpendings }}"
              styleClass="showPendingButton" type="button">
      Show Pending Spendings
    </p-button>
    <p-button (click)="showTodayAndApprovedSpendings()"
              *ngIf="loggedInEmployeeType != 'EM' && hideAllSpendings === false"
              badge="{{ countTodayAndApprovedSpendings }}"
              styleClass="showTodayAndApprovedButton" type="button">
      Show Today
    </p-button>
  </div>

  <!-- Table -->
  <div class="card">
    <p-toast/>
    <p-table [paginator]="true" [rowsPerPageOptions]="[3, 5, 10, 20, 50]"
             [rows]="5" [showCurrentPageReport]="true" [sortOrder]="+1"
             [tableStyle]="{ 'min-width': '50rem', 'margin-top': '2rem' }"
             [value]="filteredSpendings"
             currentPageReportTemplate=" {{ filteredSpendings.length }} records found. {first} to {last} of {totalRecords} entries"
             rowHover
             sortField="id" stripedRows
    >
      <ng-template #header>
        <tr>
          <th pSortableColumn="id">ID
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="employeeId">Employee ID
            <p-sortIcon field="employeeId"></p-sortIcon>
          </th>
          <th pSortableColumn="spendingAmount">Spending Amount
            <p-sortIcon field="spendingAmount"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="reason">Reason
            <p-sortIcon field="reason"></p-sortIcon>
          </th>
          <th></th>
          <th></th>
          <th *ngIf="loggedInEmployeeType != 'EM'"></th>
          <th *ngIf="filteredSpendings.length === 0"></th>
        </tr>
      </ng-template>
      <ng-template #body let-spending>
        <tr>
          <td>{{ spending.id }}</td>
          <td>{{ spending.employeeId }}
            <i (click)="openDialog('View', undefined, spending.employeeId)" class="bi bi-box-arrow-up-right"
               type="button" style="cursor: pointer"></i>
          </td>
          <td>{{ spending.spendingAmount }}</td>
          <td>{{ spending.status }}</td>
          <td>{{ spending.reason }}</td>
          <td>
            <button (click)="openDialog('Edit',spending)" class="editButton btn btn-sm">
              Edit
            </button>
          </td>
          <td>
            <button (click)="deleteSpending(spending.id)" class="deleteButton btn btn-sm btn-danger">
              Delete
            </button>
          </td>
          <td *ngIf="loggedInEmployeeType != 'EM'">
            <button (click)="changeSpendingStatus(spending.id)"
                    *ngIf="this.employeeId != spending.employeeId || daysUntil(spending.startDate) >= 3"
                    class="btn btn-sm btn-success approveButton">
              <span *ngIf="spending.status === 'Pending' || spending.status === 'Rejected'">Approve</span>
              <span *ngIf="spending.status === 'Approved'">Reject</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredSpendings.length === 0">
          <td class="text-center" colspan="10">No spendings found.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>

  <!-- Bootstrap Modal -->
  <div
    [ngClass]="{ show: showDialog }"
    [ngStyle]="{ display: showDialog ? 'block' : 'none' }"
    aria-modal="true"
    class="modal fade"
    role="dialog"
    style="background: rgba(0, 0, 0, 0.5);"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 *ngIf="formType === 'Add' || formType === 'Edit'" class="modal-title">{{ formType }} Spending
            Information</h5>
          <h5 *ngIf="formType === 'View'" class="modal-title">View Employee Information</h5>
          <button (click)="closeDialog()" class="btn-close" type="button"></button>
        </div>

        <div *ngIf="formType === 'Add' || formType === 'Edit'" class="modal-body">
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="start-date">Start Date</label>
            <input [(ngModel)]="selectedSpending.startDate" autocomplete="off" class="form-control" id="start-date"
                   type="Date"/>
          </div>


          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">End Date</label>
            <input [(ngModel)]="selectedSpending.endDate" autocomplete="off" class="form-control" id="end-date"
                   type="Date"/>
          </div>

          <div class="mb-3 d-flex align-items-center">
            <label
              class="form-label w-25 mb-0 fw-semibold"
              for="spending-amount">
              Spending Amount
            </label>
            <input [(ngModel)]="selectedSpending.spendingAmount" autocomplete="off" class="form-control"
                   id="spending-amount"
                   type="text"/>
          </div>


          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="reason">Reason</label>
            <input [(ngModel)]="selectedSpending.reason" autocomplete="off" class="form-control" id="reason"
                   type="text"/>
          </div>
        </div>

        <div *ngIf="formType === 'View'" class="modal-body">
          <div class="mb-3 d-flex align-items-center justify-content-center">
            <img alt="{{ selectedEmployee.name}}" class="img-dialog" src="{{ selectedEmployee.avatar}}">
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Employee ID</label>
            <input [(ngModel)]="selectedEmployee.id" autocomplete="off" class="form-control" id="employee-id" readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Name</label>
            <input [(ngModel)]="selectedEmployee.name" autocomplete="off" class="form-control" id="employee-name"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Surname</label>
            <input [(ngModel)]="selectedEmployee.surname" autocomplete="off" class="form-control" id="employee-surname"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Email</label>
            <div class="input-group">
              <input [(ngModel)]="selectedEmployee.email" autocomplete="off" class="form-control" id="employee-email"
                     readonly
                     type="email"/>
              <button
                (click)="goToEmail(selectedEmployee.email)"
                class="btn btn-outline-secondary emailBtn"
                type="button">
                <i aria-hidden="true" class="bi bi-arrow-90deg-right"></i>
              </button>
            </div>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Password</label>
            <input [(ngModel)]="selectedEmployee.password" autocomplete="off" class="form-control"
                   id="employee-password"
                   readonly
                   type="password"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Position</label>
            <input [(ngModel)]="selectedEmployee.position" autocomplete="off" class="form-control"
                   id="employee-position"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Address</label>
            <input [(ngModel)]="selectedEmployee.address" autocomplete="off" class="form-control" id="employee-address"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Phone Number</label>
            <input [(ngModel)]="selectedEmployee.phoneNumber" autocomplete="off" class="form-control"
                   id="employee-phoneNumber"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Start Date</label>
            <input [(ngModel)]="selectedEmployee.startDate" autocomplete="off" class="form-control"
                   id="employee-startDate"
                   readonly
                   type="Date"/>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="closeDialog()" class="btn btn-outline-danger cancelButton"
                  type="button">{{ formType === 'View' ? 'Close' : 'Cancel' }}
          </button>
          <button (click)="addOrEditSpending(selectedSpending)" *ngIf="formType !== 'View'"
                  class="btn btn-primary saveButton" type="button">Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
