<div class="main-container">
  <div class="view-container">
    <h1 class="view-header-1">MANAGE EMPLOYEE TIMEOFFS EFFORTLESSLY</h1>
    <div class="view-seperator">
      <div class="view-left">
        <p>Streamline your leave management process with ease. Track requests, approvals, and balances—all in one
          place.</p>
        <p-button label="Get Started" routerLink="/login" styleClass="view-button"></p-button>
        <p class="view-paragraph">Real-time insights. Instant approvals. Secure access for all employee levels.</p>
      </div>
    </div>
  </div>
  <div class="view-container-2 view-container">
    <h1 class="view-header-2">HOW IT WORKS?</h1>
    <div class="view-seperator-2">
      <div class="grid-container-long">
        <h2>Submit A Request</h2>
        <p>Employees choose leave type and date range.</p>
      </div>
      <div class="grid-container-short">
        <h2>Manager Review</h2>
        <p>Managers get notified and review with one click.</p>
      </div>
      <div class="grid-container-short">
        <h2>Automatic Updates</h2>
        <p>Balances and statuses update in real-time.</p>
      </div>
      <div class="grid-container-long">
        <h2>Transparent Records</h2>
        <p>Everyone can see their history and remaining days.</p>
      </div>
    </div>
  </div>

  <div class="view-container-3 view-container">
    <h1 class="view-header-3">WHAT OUR USERS SAY</h1>
    <div class="view-seperator-3">
      <h3>“The best HR tool we’ve implemented. Approvals are a breeze.”
        — HR Manager, GlobalTech</h3>
      <h3>“Clear UI and easy tracking for both employees and admins.”
        — Team Lead, NextInnovate</h3>
    </div>
  </div>
  <div class="view-container-4 view-container">
    <h1 class="view-header-4">FEATURED IN</h1>
    <div class="view-seperator-4">
      <p-image alt="business image for main page"
               src="program-images.png"
               styleClass="view-image"/>
      <p>This project is built using a modern and robust technology stack featuring Angular for dynamic frontend
        development, Spring Boot for scalable backend services, PostgreSQL for efficient data management, Postman for
        API testing, and GitHub for version control and collaboration. Together, these tools enable a powerful,
        maintainable, and enterprise-ready application ecosystem.</p>
    </div>
  </div>
</div>
