<div class="main-container">
  <div class="view-container">
    <h1 class="view-header-1">EXPLORE THE NEXT GENERATION HR PROGRAM</h1>
    <div class="view-seperator">
      <div class="view-left">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet at, atque consectetur consequatur
          cum dolorem eos, est excepturi fuga inventore ipsa ipsam optio perferendis quo quos reiciendis veritatis
          vero.</p>
        <p-button label="Learn More" routerLink="/information"></p-button>
      </div>
      <div class="view-right">
        <p-image alt="business image for main page"
                 src="https://cloudinary.hbs.edu/hbsit/image/upload/s--O0PXWnT3--/f_auto,c_fill,h_375,w_750,/v20200101/BDD0688FF02068E5C427B0954F8A2297.jpg"/>
      </div>
    </div>
  </div>
  <div class="view-container-2 view-container">
    <h1 class="view-header-2">FUTURE IS HERE</h1>
    <p class="view-paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem modi nesciunt
      odit
      perferendis praesentium quos rem repellat saepe, tempora unde vero voluptatibus. Debitis impedit nam
      necessitatibus quisquam sed voluptas.</p>
    <div class="view-seperator-2">
      
    </div>
  </div>
</div>
