.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.view-header-1 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-left: 4rem;
  width: 50%;
}

.view-seperator {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 4rem;
}

.view-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.view-left p {
  color: #5d5d5d;
  padding-right: 5rem;
}

.view-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host ::ng-deep p-image {
  border-radius: 8px;
}


.view-container-2 {
  background-color: #EB3656;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.view-container-2 .view-header-2 {
  color: white;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.view-container-2 .view-paragraph-2 {
  color: #e8e8e8;
  width: 50%;
}

.grid-container-long p, .grid-container-short p {
  color: #a8a8a8;
}

.grid-container-long {
  width: 60%;
  background-color: #ffddef;
}

.grid-container-short {
  width: 40%;
  background-color: white;
}

.view-seperator-2 {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.view-seperator-2-top, .view-seperator-2-bottom {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  gap: 2rem;
}

.grid-container-long, .grid-container-short {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}


