
:root {
  --bs-primary: #0956a1;
  --bs-primary-hover: #06315d;
  --bs-primary-focus: #06315d;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Arial, sans-serif;
  background-color: #eee;
}
