<div class="timeoff-list-container m-4">

  <h1>Timeoff List</h1>
  <div class="inputs my-3">
    <input
      (ngModelChange)="filterTimeoffs($event)"
      [(ngModel)]="filterText"
      class="searchBar"
      placeholder="Search timeoffs..."
      type="text"
    />
    <input (click)="openDialog('Add')" class="btn btn-primary add-btn" type="button" value="Add Timeoff">
    <button (click)="showMyTimeoffs()" *ngIf="loggedInEmployeeType != 'EM'" class="btn btn-primary add-btn"
            type="button">
      {{ hideAllTimeoffs ? 'Show All Timeoffs' : 'Show My Timeoffs ' }}
    </button>
    <button (click)="showPendingTimeoffs()" *ngIf="loggedInEmployeeType != 'EM' && hideAllTimeoffs === false"
            class="btn btn-primary add-btn"
            type="button">
      Show Pending Timeoffs
    </button>
    <button (click)="showEmployeeTimeoffs()" *ngIf="loggedInEmployeeType != 'EM' && hideAllTimeoffs === false"
            class="btn btn-primary add-btn"
            type="button">
      Show Employee Timeoffs
    </button>
    <button (click)="showTodayAndApprovedTimeoffs()" *ngIf="loggedInEmployeeType != 'EM' && hideAllTimeoffs === false"
            class="btn btn-primary add-btn"
            type="button">
      Show Today
    </button>
  </div>

  <!-- Table -->
  <div class="card">
    <p-toast/>
    <p-table [paginator]="true" [rowsPerPageOptions]="[3, 5, 10, 20, 50]"
             [rows]="5" [showCurrentPageReport]="true" [sortOrder]="+1" [tableStyle]="{ 'min-width': '50rem' }"
             [value]="filteredTimeoffs"
             currentPageReportTemplate=" {{ filteredTimeoffs.length }} records found. {first} to {last} of {totalRecords} entries"
             rowHover
             sortField="id" stripedRows
    >
      <ng-template #header>
        <tr>
          <th pSortableColumn="id">ID
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="employeeId">Employee ID
            <p-sortIcon field="employeeId"></p-sortIcon>
          </th>
          <th pSortableColumn="employeeFullName">Full Name
            <p-sortIcon field="employeeFullName"></p-sortIcon>
          </th>
          <th pSortableColumn="startDate">Start Date
            <p-sortIcon field="startDate"></p-sortIcon>
          </th>
          <th pSortableColumn="endDate">End Date
            <p-sortIcon field="endDate"></p-sortIcon>
          </th>
          <th pSortableColumn="typeId">Timeoff Type
            <p-sortIcon field="typeId"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="reason">Reason
            <p-sortIcon field="reason"></p-sortIcon>
          </th>
          <th></th>
          <th></th>
          <th *ngIf="loggedInEmployeeType != 'EM'"></th>
          <th *ngIf="filteredTimeoffs.length === 0"></th>
        </tr>
      </ng-template>
      <ng-template #body let-timeoff>
        <tr>
          <td>{{ timeoff.id }}</td>
          <td>{{ timeoff.employeeId }}
            <i (click)="openDialog('View', undefined, timeoff.employeeId)" class="bi bi-box-arrow-up-right"
               type="button"></i>
          </td>
          <td></td>
          <td>{{ timeoff.startDate }}</td>
          <td>{{ timeoff.endDate }}</td>
          <td>
            {{
              timeoff.typeId === 1 ? 'Paid Leave' :
                timeoff.typeId === 2 ? 'Unpaid Leave' :
                  timeoff.typeId === 3 ? 'Birthday Leave' :
                    '—'
            }}
          </td>
          <td>{{ timeoff.status }}</td>
          <td>{{ timeoff.reason }}</td>
          <td>
            <button (click)="openDialog('Edit',timeoff)" class="editButton btn btn-sm">
              Edit
            </button>
          </td>
          <td>
            <button (click)="deleteTimeoff(timeoff.id)" class="deleteButton btn btn-sm btn-danger">
              Delete
            </button>
          </td>
          <td *ngIf="loggedInEmployeeType != 'EM'">
            <button (click)="changeTimeoffStatus(timeoff.id)"
                    *ngIf="this.employeeId != timeoff.employeeId || daysUntil(timeoff.startDate) >= 3"
                    class="btn btn-sm btn-success approveButton">
              <span *ngIf="timeoff.status === 'Pending' || timeoff.status === 'Rejected'">Approve</span>
              <span *ngIf="timeoff.status === 'Approved'">Reject</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredTimeoffs.length === 0">
          <td class="text-center" colspan="10">No timeoffs found.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>

  <!-- Bootstrap Modal -->
  <div
    [ngClass]="{ show: showDialog }"
    [ngStyle]="{ display: showDialog ? 'block' : 'none' }"
    aria-modal="true"
    class="modal fade"
    role="dialog"
    style="background: rgba(0, 0, 0, 0.5);"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 *ngIf="formType === 'Add' || formType === 'Edit'" class="modal-title">{{ formType }} Timeoff
            Information</h5>
          <h5 *ngIf="formType === 'View'" class="modal-title">View Employee Information</h5>
          <button (click)="closeDialog()" class="btn-close" type="button"></button>
        </div>

        <div *ngIf="formType === 'Add' || formType === 'Edit'" class="modal-body">
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="start-date">Start Date</label>
            <input [(ngModel)]="selectedTimeoff.startDate" autocomplete="off" class="form-control" id="start-date"
                   type="Date"/>
          </div>


          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">End Date</label>
            <input [(ngModel)]="selectedTimeoff.endDate" autocomplete="off" class="form-control" id="end-date"
                   type="Date"/>
          </div>

          <div class="mb-3 d-flex align-items-center">
            <label
              class="form-label w-25 mb-0 fw-semibold"
              for="type-id">
              Type
            </label>
            <p-select
              [(ngModel)]="selectedTimeoff.typeId"
              [options]="timeoffTypes"
              class="form-control"
              id="type-id"
              optionLabel="label"
              placeholder="Select a Type of Timeoff"
            >
            </p-select>
          </div>


          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="reason">Reason</label>
            <input [(ngModel)]="selectedTimeoff.reason" autocomplete="off" class="form-control" id="reason"
                   type="text"/>
          </div>
        </div>

        <div *ngIf="formType === 'View'" class="modal-body">
          <div class="mb-3 d-flex align-items-center justify-content-center">
            <img alt="{{ selectedEmployee.name}}" class="img-dialog" src="{{ selectedEmployee.avatar}}">
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Employee ID</label>
            <input [(ngModel)]="selectedEmployee.id" autocomplete="off" class="form-control" id="employee-id" readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Name</label>
            <input [(ngModel)]="selectedEmployee.name" autocomplete="off" class="form-control" id="employee-name"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Surname</label>
            <input [(ngModel)]="selectedEmployee.surname" autocomplete="off" class="form-control" id="employee-surname"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Email</label>
            <div class="input-group">
              <input [(ngModel)]="selectedEmployee.email" autocomplete="off" class="form-control" id="employee-email"
                     readonly
                     type="email"/>
              <button
                (click)="goToEmail(selectedEmployee.email)"
                class="btn btn-outline-secondary emailBtn"
                type="button">
                <i aria-hidden="true" class="bi bi-arrow-90deg-right"></i>
              </button>
            </div>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Password</label>
            <input [(ngModel)]="selectedEmployee.password" autocomplete="off" class="form-control"
                   id="employee-password"
                   readonly
                   type="password"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Position</label>
            <input [(ngModel)]="selectedEmployee.position" autocomplete="off" class="form-control"
                   id="employee-position"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Address</label>
            <input [(ngModel)]="selectedEmployee.address" autocomplete="off" class="form-control" id="employee-address"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Phone Number</label>
            <input [(ngModel)]="selectedEmployee.phoneNumber" autocomplete="off" class="form-control"
                   id="employee-phoneNumber"
                   readonly
                   type="text"/>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label class="form-label w-25 mb-0 fw-semibold" for="end-date">Start Date</label>
            <input [(ngModel)]="selectedEmployee.startDate" autocomplete="off" class="form-control"
                   id="employee-startDate"
                   readonly
                   type="Date"/>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="closeDialog()" class="btn btn-outline-danger cancelButton"
                  type="button">{{ formType === 'View' ? 'Close' : 'Cancel' }}
          </button>
          <button (click)="addOrEditTimeoff(selectedTimeoff)" *ngIf="formType !== 'View'"
                  class="btn btn-primary saveButton" type="button">Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
