<div class="profile-container m-4">
  <header>
    <h1>Profile Dashboard</h1>
  </header>
  <div class="profile-information-container">
    <div class="employee-information">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Headers</th>
          <th scope="col">Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ID</td>
          <td>{{ employee?.id }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Name</td>
          <td>{{ employee?.name }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Surname</td>
          <td>{{ employee?.surname }}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Avatar</td>
          <td><img src="{{employee?.avatar}}"></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Email</td>
          <td>{{ employee?.email }}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Password</td>
          <td>{{ employee?.password }}</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Position</td>
          <td>{{ employee?.position }}</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Address</td>
          <td>{{ employee?.address }}</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Phone Number</td>
          <td>{{ employee?.phoneNumber }}</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Start Date</td>
          <td>{{ employee?.startDate }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="timeoff-information">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Type ID</th>
          <th scope="col">Status</th>
          <th scope="col">Reason</th>
          <th scope="col">is Earned</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let timeoff of timeoffs; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{ timeoff.id }}</td>
          <td>{{ timeoff.employeeId }}</td>
          <td>{{ timeoff.startDate }}</td>
          <td>{{ timeoff.endDate }}</td>
          <td>{{ timeoff.typeId }}</td>
          <td>{{ timeoff.status }}</td>
          <td>{{ timeoff.reason }}</td>
          <td>{{ timeoff.isEarned }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
