<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Timeoff</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/employee-list">Employee List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timeoff">Timeoff Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timeoff-list">Timeoff List</a>
      </li>
    </ul>
  </div>
</nav>
