nav {
  background-color: #ddd !important;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary);
  background-color: lightgray;
  border-radius: 8px;
  font-weight: bold;
}
