<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Timeoff</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/dashboard"
         routerLinkActive="active">Dashboard</a>
      <a *ngIf="employeePositionByEmployeeId === 'AD' || employeePositionByEmployeeId === 'HR'"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/employee-list"
         routerLinkActive="active">Employee List</a>
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/timeoff-list"
         routerLinkActive="active">Timeoff List</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/profile"
         routerLinkActive="active">Profile
      </a>
      <a
        (click)="logout()"
        class="nav-item nav-link"
        style="cursor: pointer;"
      >
        Logout
      </a>
    </div>
  </div>
</nav>
