<!--style="position: fixed !important; width: 100%; z-index: 999; margin-bottom:60px"-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand brand-control" routerLink="/">RocketHR</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="employeePositionByEmployeeId === Position.LF" class="collapse navbar-collapse" id="navbarNav">
    <a [routerLinkActiveOptions]="{ exact: true }"
       class="nav-item nav-link"
       routerLink="/left-employee"
       routerLinkActive="active">Left</a>
  </div>
  <div *ngIf="showThreeNavbar === false && employeePositionByEmployeeId !== Position.LF"
       class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/dashboard"
         routerLinkActive="active">Dashboard</a>
      <a *ngIf="employeePositionByEmployeeId === 'AD' || employeePositionByEmployeeId === 'HR'"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/employee-list"
         routerLinkActive="active">Employee List</a>
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/timeoff-list"
         routerLinkActive="active">Timeoff List</a>
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/spending-list"
         routerLinkActive="active">Spending List</a>
      <a *ngIf="employeePositionByEmployeeId === 'AD' || employeePositionByEmployeeId === 'HR'"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/leave"
         routerLinkActive="active">Leave</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/profile"
         routerLinkActive="active">Profile
      </a>
      <a
        (click)="logout()"
        class="nav-item nav-link"
        style="cursor: pointer;"
      >
        Logout
      </a>
    </div>
  </div>
  <div *ngIf="showThreeNavbar === true && employeePositionByEmployeeId !== Position.LF" class="collapse navbar-collapse"
       id="navbarNav">
    <div class="navbar-nav">
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/information"
         routerLinkActive="active">Information</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item nav-link"
         routerLink="/login"
         routerLinkActive="active">Login
      </a>
    </div>
  </div>
</nav>
