
h1, h5 {
  color: var(--bs-primary);
  font-weight: bold;
  text-align: left;
}

.actionBtn {
  height: 2rem;
  min-width: 2rem;
}

.approveButton {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
}

.p-button.delete-button {
  background-color: red;
  border: none;
  color: white;
}

.table {
  text-align: center;
  border-radius: 8px;
}

th {
  font-weight: bold;
  vertical-align: middle !important;
  text-align: center !important;
}

td {
  padding: 0.5rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.editButton, .deleteButton, .approveButton {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 8px;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  height: 2.5rem;
}

.add-btn {
  width: 20vw;
  border-radius: 8px;
  background-color: var(--bs-primary);
  color: white;
  border: none;
}

.add-btn:hover {
  background-color: var(--bs-primary-focus) !important;
}

:host ::ng-deep .p-button.showTodayAndApprovedButton, :host ::ng-deep .p-button.showPendingButton, :host ::ng-deep .p-button.showMyLeavesButton {
  border-radius: 8px;
  background-color: var(--bs-primary);
  color: white;
  width: 100% !important;
  border-color: var(--bs-primary) !important;
  padding: 0.5rem !important;
  box-shadow: none !important;
  outline: none !important;
}


:host ::ng-deep .p-button.showTodayAndApprovedButton:hover,
:host ::ng-deep .p-button.showPendingButton:hover,
:host ::ng-deep .p-button.showMyLeavesButton:hover {
  background-color: var(--bs-primary-focus) !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--bs-primary-focus) !important;
}

:host ::ng-deep .p-button.showTodayAndApprovedButton:focus,
:host ::ng-deep .p-button.showPendingButton:focus,
:host ::ng-deep .p-button.showMyLeavesButton:focus {
  box-shadow: none !important;
  outline: none !important;
  background-color: var(--bs-primary-focus) !important;
  border-color: var(--bs-primary-focus) !important;
}

:host ::ng-deep .p-button.my-toggle-btn {
  border-radius: 8px;
  background-color: var(--bs-primary);
  color: white;
  min-width: 12vw !important;
  min-height: 2vw !important;
  padding: 0.5rem !important;
  box-shadow: none !important;
  outline: none !important;
  width: 37vw !important;
  border-color: var(--bs-primary) !important;
}

:host ::ng-deep .p-button.my-toggle-btn:hover {
  background-color: var(--bs-primary-focus) !important;
  border-color: var(--bs-primary-focus) !important;
}

.searchBar {
  width: 30%;
  border-radius: 8px;
  box-shadow: #dddddd 0 1px 1px;
  background-color: #fff;
  border: 0 solid transparent !important;
  padding: 1rem;
}

.searchBar::placeholder {
  color: var(--bs-primary);
}

.modal-dialog {
  width: 100vw !important;
}

.add-btn, .editButton, .saveButton {
  background-color: var(--bs-primary);
  color: white;
}

.add-btn:hover, .editButton:hover, .saveButton:hover {
  background-color: #0c6ecc;
}

.saveButton {
  width: 100px;
  border-radius: 8px;
}

.cancelButton {
  border-radius: 8px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.externalButton {
  border: none;
  background-color: transparent;
}

.emailBtn {
  border: none;
}

.emailBtn:hover, .emailBtn:active, .emailBtn:focus {
  border-radius: 0px;
}

.img-dialog {
  border-radius: 50%;
  width: 100px;
  text-align: center;
}

::ng-deep .p-datatable .p-datatable-thead th {
  background-color: var(--bs-primary);
  color: white;
}

::ng-deep .p-datatable .p-datatable-thead th:hover, ::ng-deep .p-datatable .p-datatable-thead th:focus, ::ng-deep .p-datatable .p-datatable-thead th:active {
  background-color: var(--bs-primary-focus);
  color: white;
}

::ng-deep datatable.header.cell.selected.background {
  background-color: var(--bs-primary-focus);
  color: white;
}

#type-id {
  padding: 0.1rem;
}

::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted {
  background-color: var(--bs-primary-hover) !important;
  color: white !important;
}
